<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/lpa-logo.png" />
			</div>
		</div>
		<div class="row">
			<h3 translate>APP_DESCRIPTION</h3>
		</div>
		<div class="row" data-ng-show="nevidn">
			<p>
				<a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank" translate>OFFLINE_APP_DOWNLOAD</a>
			</p>
		</div>
	</div>
	<div>
		<h2>About</h2>
		<p>In progress...</p>
	</div>
</section>
