<section class="home" data-ng-controller="HomeController" data-ng-init="init()">

	<div>
    <uib-carousel interval="5000">
      <uib-slide ng-repeat="slide in slides" active="slide.active" index="slide.id">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h3 date-ng-show="slide.text">{{slide.text}}</h3>
        </div>
      </uib-slide>
    </uib-carousel>
  </div>
	
	<div class="panel text-center">
		<h3 translate>APP_DESCRIPTION</h3>
		<hr/>
		<p translate>
			APP_INFO
		</p>
		<p>
			<a class="btn btn-primary btn-lg" href="#">
				<i class="fa fa-download"></i>
				<span translate>OFFLINE_APP_DOWNLOAD</span>
			</a>
		</p>
	</div>

	<div class="panel text-center">
		<h3 translate>APP_AUTHOR</h3>
		<hr/>
		<p translate>
			APP_AUTHOR_INFO
		</p>
	</div>

</section>
