<section class="row" data-ng-controller="AuthenticationController">
	<div class="col-md-offset-3 col-md-6">
		<div class="panel panel-default panel-singleton">
			<div class="panel-heading">
	    	<h3 class="panel-title" translate>SIGN_IN_TITLE</h3>
	  	</div>
			<div class="panel-body">
				<form data-ng-submit="signin()" class="signin" autocomplete="off">
					<fieldset>
						<div class="form-group">
							<label for="username" translate>USERNAME</label>
							<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="{{ 'USERNAME' | translate}}">
						</div>
						<div class="form-group">
							<label for="password" translate>PASSWORD</label>
							<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="{{ 'PASSWORD' | translate }}">
						</div>
						<div class="text-center form-group">
							<button type="submit" class="btn btn-primary">
								<i class="fa fa-sign-in"></i>
								<span translate>SIGNIN</span>
							</button>&nbsp; or&nbsp;
							<a href="/auth/google" class="btn btn-danger">
								<i class="fa fa-google-plus"></i>
								<span translate>SIGN_IN_GOOGLE</span>
							</a>
						</div>
						<div class="forgot-password hidden">
							<a href="/#!/password/forgot" translate>FORGOT_PASSWORD</a>
						</div>
						<div data-ng-show="error" class="text-center text-danger">
							<strong translate>{{ error }}</strong>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</section>