html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;*/
  margin-top: 50px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 60px;*/
  display: none;
  background-color: #f5f5f5;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
body.ng-cloak,
.browsehappy.jumbotron.hide{
	display: block;
}
.page-header {
  margin: 20px 0 15px;
}
.navbar-nav a {
	cursor: pointer;
}
h1.app-name-logo {
	margin-left: -15px;
	display: inline;
  position: relative;
	font: 170px Helvetica, Sans-Serif;
	letter-spacing: -5px;
	color: #0000FF;
	color: rgba(0,0,255,0.5);
}
h1.app-name-logo:after {
	content: "LPAv3";
	position: absolute;
	left: 10px;
	top: 5px;
	color: #FF0000;
	color: rgba(255,0,0,0.5);
}
.panel {
  padding-left: 0;
  padding-right: 0;
}
.panel-draggable {
  position: fixed;
  z-index: 99999;
}
.panel-draggable .panel-heading {
  cursor: move;
}
.panel-draggable.transparent {
  opacity: 0.3;
}
.panel-draggable.transparent:hover {
  opacity: 1;
}
/* SMALL PANEL DRAGGALBE */
.panel-sm,
.panel-sm input, 
.panel-sm span.form-control,
.panel-sm .ui-select-choices a {
  font-size: 10px;
}
.panel-sm span.form-control,
.panel-sm input {
  height: 20px;
  padding: 0 5px;
}
.panel-sm .form-horizontal .control-label {
  padding-top: 3px;
}  
.panel-sm .form-group {
  margin-bottom: 5px;
}
.panel-sm .btn-checkbox {
  height: 0;
}
.panel-sm .panel-body {
  padding: 8px;
}
.panel-sm .panel-heading {
  padding: 8px 12px;
}
.panel-sm h3 {
  font-size: 12px;
}
/* MEDIUM PANEL DRAGGALBE */
.panel-md,
.panel-md input,
.panel-md span.form-control,
.panel-md .ui-select-choices a {
  font-size: 12px;
}
.panel-md span.form-control,
.panel-md input {
  height: 26px;
  padding: 0 5px;
}
.panel-md .form-horizontal .control-label {
  padding-top: 5px;
}  
.panel-md .form-group {
  margin-bottom: 5px;
}
.panel-md .btn-checkbox {
  height: 0;
}
.panel-md .panel-body {
  padding: 8px;
}
.panel-md .panel-heading {
  padding: 8px 12px;
}
.panel-md h3 {
  font-size: 14px;
}

/* BUTTON CHECKBOX */
.btn-checkbox {
  background-color: transparent;
  border: none;
  font-size: 16px;
}
.btn-checkbox:focus {
  border: 1px solid transparent;
  outline: none;
}
.btn-checkbox i:before {
  content: "\f096";
}
.btn-checkbox.active i:before {
  content: "\f14a";
}
