<div class="graph-content"></div>

<div class="graph-toolbar" data-ng-show="edit">
  <button type="button" class="btn btn-primary" data-ng-click="graph.addNode('PROCESS')">
    ADD_NODE
  </button>
  <button type="button" class="btn btn-primary" data-ng-click="graph.removeNode()">
    REMOVE_NODE
  </button>
  <button type="button" class="btn btn-primary" data-ng-click="graph.addLink()">
    ADD_LINK
  </button>
  <button type="button" class="btn btn-primary" data-ng-click="save()">
    SAVE
  </button>
</div>