<section class="protocols" data-ng-controller="ProtocolsController" data-ng-init="create()">
  
  <div class="pull-right"> 
    <span class="btn btn-sm btn-default btn-file">
      <i class="fa fa-upload"></i> <input type="file" onchange="angular.element(this).scope().import(this)"/>
    </span>
    <button class="btn btn-sm btn-default" data-ng-click="openSettings()">
      <i class="fa fa-cogs"></i>
    </button>
    <a target="_blank" class="btn btn-sm btn-default" data-ng-click="exportSvg($event)">
      <i class="fa fa-picture-o"></i>
    </a>
    <button class="btn btn-sm btn-default" data-ng-click="saveProtocol()">
      <i class="fa fa-floppy-o"></i>
    </button>
  </div>

  <tabset>
    
    <tab>  
      <tab-heading>
        <i class="fa fa-code-fork"></i> <span translate>PROTOCOL</span>: {{protocol.title}}
      </tab-heading>
      <div class="row page-content">
        
        <div class="col-md-2 hidden-xs">
          <ul class="graphs-tree"> 
            <li data-ng-repeat="graph in graphs track by $index" data-ng-click="selected.index = $index" data-ng-class="{active: selected.index == $index}">
              {{ graph.values.title }}
            </li>
           </ul>
        </div>

        <div class="col-md-10">
          <protocol>
            <graph data-ng-repeat="graph in graphs track by $index" data-ng-show="selected.index == $index" data-graph-data="graph" data-edit="true"></graph>
          </protocol>  
        </div>

      </div>
    </tab>
  
    <tab select="analyze(protocol)">
      <tab-heading>
        <i class="fa fa-sitemap"></i> <span translate>ANALYSIS</span>
      </tab-heading>
      
      <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}
      </alert>
      
      <analysis protocol="protocol" analyze="startAnalyze"></analysis>

    </tab>

  </tabset>

  <div class="panel panel-default panel-draggable" data-ng-style="nodeSettings.style" data-ng-show="nodeSettings.visible">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span translate>{{'NODE_SETTINGS_' + nodeSettings.graph.type}}</span> <span>{{ nodeSettings.graph.title }}</span>
        <i class="fa fa-times pull-right close" data-ng-click="actions.hideNodeSettings()"></i></h3>
    </div>
    <div class="panel-body">
      <div class="form-horizontal">
        <!--
        <div class="form-group">
          <label for="graph-title" class="col-sm-3 control-label" translate>GRAPH_TITLE</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" data-ng-model="nodeSettings.graph.title" id="graph-title">
          </div>
        </div>
        -->
        <div class="form-group">
          <label for="node-label" class="col-sm-3 control-label" translate>NODE</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" data-ng-model="nodeSettings.node.label" id="node-label">
          </div>
        </div>
        <!--
        <div class="form-group">
          <label for="node-type" class="col-sm-3 control-label">NODE_TYPE</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="node-type" data-ng-model="nodeSettings.node.type">
          </div>
        </div>
        -->
        <!--
        <div class="form-group">
          <label for="node-size" class="col-sm-3 control-label">NODE_SIZE</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="node-size" data-ng-model="nodeSettings.node.size">
          </div>
        </div>
        -->
        <div class="form-group" data-ng-show="nodeSettings.node.setStartState">
          <label for="node-is-start" class="col-sm-3 control-label" translate>START_STATE</label>
          <div class="col-sm-9">
            <button type="button" class="btn-checkbox text-primary" data-ng-model="nodeSettings.node.isStart" btn-checkbox data-ng-click="nodeSettings.node.setStartState()" data-ng-disabled="nodeSettings.node.isStart">
              <i class="fa"></i>
            </button>
          </div>
        </div>
        <div class="form-group" data-ng-hide="nodeSettings.node.setStartState">
          <label for="node-queue-length" class="col-sm-3 control-label" translate>NODE_QUEUE_LENGTH</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" data-ng-model="nodeSettings.node.queueLength" id="node-queue-length">
          </div>
        </div>
        <!--
        <pre class="pre-scrollable">{{nodeSettings | json}}</pre>  
        -->
      </div>
    </div>
  </div>

  <div class="panel panel-default panel-draggable" data-ng-style="linkSettings.style" data-ng-show="linkSettings.visible">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span translate>LINK_SETTINGS</span> <span>{{ linkSettings.graph.title }}</span>
        <i class="fa fa-times pull-right close" data-ng-click="actions.hideLinkSettings()"></i></h3>
    </div>
    <div class="panel-body">
      <div class="form-horizontal">
        <!--
        <div class="form-group">
          <label for="graph-title" class="col-sm-3 control-label" translate>GRAPH_TITLE</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" data-ng-model="linkSettings.graph.title" id="graph-title">
          </div>
        </div>
        -->
        <!--
        <div class="form-group">
          <label for="link-label" class="col-sm-3 control-label" translate>LINK_LABEL</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" readonly data-ng-value="linkSettings.link.label()" id="link-label">
          </div>
        </div>
        -->
        <div class="form-group">
          <label for="link-source-label" class="col-sm-3 control-label" translate>LINK_SOURCE</label>
          <div class="col-sm-9">
            <ui-select data-ng-model="linkSettings.link.source" data-theme="bootstrap" style="width: 100%;" id="link-source-label" data-ng-disabled="true">
              <ui-select-match placeholder="Select process">{{$select.selected.label}}</ui-select-match>
              <ui-select-choices repeat="node in linkSettings.graph.nodes">
                <span ng-bind-html="node.label"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="form-group">
          <label for="link-target-label" class="col-sm-3 control-label" translate>LINK_TARGET</label>
          <div class="col-sm-9">
            <ui-select data-ng-model="linkSettings.link.target" data-theme="bootstrap" style="width: 100%;" id="link-target-label" data-ng-disabled="true">
              <ui-select-match placeholder="Select process">{{$select.selected.label}}</ui-select-match>
              <ui-select-choices repeat="node in linkSettings.graph.nodes">
                <span ng-bind-html="node.label"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="form-group" data-ng-hide="linkSettings.link.queue">
          <label for="link-type" class="col-sm-3 control-label" translate>LINK_TYPE</label>
          <div class="col-sm-9">
            <ui-select data-ng-model="linkSettings.link.typeId" data-theme="bootstrap" style="width: 100%;" id="link-type">
              <ui-select-match placeholder="{{ SELECT_LINK_TYPE | translate }}">{{$select.selected | linkTypeName}}</ui-select-match>
              <ui-select-choices repeat="linkType.id as linkType in linkTypes">
                <span translate>{{'LINK.TYPE.' + linkType.id}}</span><span> ({{linkType.text}})</span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="form-group" data-ng-hide="linkSettings.link.queue">
          <label for="link-name" class="col-sm-3 control-label" translate>LINK_NAME</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" data-ng-model="linkSettings.link.name" id="link-name">
          </div>
        </div>
        <div class="form-group" data-ng-hide="linkSettings.link.queue">
          <label for="link-process" class="col-sm-3 control-label" translate>LINK_PROCESS</label>
          <div class="col-sm-9">
            <ui-select data-ng-model="linkSettings.link.processId" data-theme="bootstrap" style="width: 100%;" id="link-process" data-ng-disabled="linkSettings.link.typeId === 'LOCAL' || graphs.length === 2">
              <ui-select-match placeholder="{{ SELECT_PROCESS | translate }}">{{$select.selected | processName}}</ui-select-match>
              <ui-select-choices repeat="process.nodeId as process in graphs | processFilter : linkSettings.graph">
                <span ng-bind-html="process.label"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <!--
        <pre class="pre-scrollable">{{linkSettings | json}}</pre>  
        -->
      </div>
    </div>
  </div>

</section>