<section data-ng-controller="ProtocolsController" data-ng-init="list()">
  
  <lpa-title data-code="PROTOCOLS_LIST"></lpa-title>
  
  <div class="list-group">
    <a data-ng-repeat="protocol in protocols" data-ng-href="#!/protocols/{{protocol._id}}" class="list-group-item">
      <h5>{{protocol.title}}</h5>
      <graph data-graph-data="protocol.processes"></graph>
    </a>
  </div>
  
  <div class="alert alert-warning text-center" data-ng-if="protocols.$resolved && !protocols.length">
    No protocols yet, why don't you <a href="/#!/protocols/create">create one</a>?
  </div>

</section>