<section data-ng-controller="ProtocolsController" data-ng-init="list()">
  
  <lpa-title data-code="PROTOCOLS_LIST"></lpa-title>
  
  <ul class="protocols-list">
    <li data-ng-repeat="protocol in protocols" class="col-sm-6 col-md-4">
      <div>
        <graph data-graph-data="protocol.processes"></graph>
        <div>
          <h3>{{protocol.title}}</h3>
          <span>
            <i data-ng-bind="protocol.created | date:'mediumDate'"></i>
            <i translate> BY </i>
            <i>{{protocol.user.displayName}}</i>
          </span>
          <div class="pull-right">
            <button data-ng-click="delete(protocol._id)" class="btn btn-sm btn-primary" data-ng-show="authentication.checkUser(protocol.user)">
              <i class="fa fa-trash"></i>
            </button>
            <a data-ng-href="#!/protocols/{{protocol._id}}/fork" class="btn btn-sm btn-primary" data-ng-show="authentication.user">
              <i class="fa fa-code-fork"></i> <span class="hidden" translate>FORK</span>
            </a>
            <a data-ng-href="#!/protocols/{{protocol._id}}" class="btn btn-sm btn-primary">
              <i class="fa fa-eye"></i> <span class="hidden" translate>TAKE_A_LOOK</span>
            </a>
          </div>          
        </div>
      </div>
    </li>
  </ul>
  
  <div class="alert alert-warning text-center" data-ng-if="protocols.$resolved && !protocols.length">
    No protocols yet!
  </div>

</section>