<section data-ng-controller="ProtocolsController" data-ng-init="findOne()">
  <lpa-title>
    {{protocol.title}}
  </lpa-title>
  
  <div class="row page-content">
    <div class="col-md-2 hidden-xs">
      <ul class="graphs-tree"> 
        <li data-ng-click="selected = 0">
          {{ protocol.processes.title }} 
        </li>
        <li data-ng-repeat="fsm in protocol.finalstatemachines track by $index" data-ng-click="selected = $index + 1">
          {{ fsm.title }}
        </li>
       </ul>
    </div>
    <div class="col-md-10">
      
      <protocol>
        <graph data-ng-show="selected == 0" data-graph-data="protocol.processes"></graph>
        <graph data-ng-repeat="fsm in protocol.finalstatemachines track by $index" data-ng-show="selected == $index + 1" data-graph-data="fsm"></graph>
      </protocol>
      
    </div>
  </div>
</section>