<section data-ng-controller="ProtocolsController" data-ng-init="view()">

  <div class="pull-right"> 
    <button type="button" class="btn btn-sm btn-default" data-ng-click="openAnalysisSetting(protocol)">
      <span class="small-stack">
        <i class="fa fa-sitemap"></i>
        <i class="fa fa-cog"></i>
      </span>
    </button>
    <a data-ng-href="#!/protocols/{{protocol._id}}/fork" class="btn btn-sm btn-default">
      <i class="fa fa-code-fork"></i>
    </a>
    <a target="_blank" class="btn btn-sm btn-default" data-ng-click="exportSvg($event)">
      <i class="fa fa-picture-o"></i>
    </a>
    <a target="_blank" class="btn btn-sm btn-default" data-ng-click="export($event)">
      <i class="fa fa-download"></i>
    </a>
  </div>

  <uib-tabset>
    <uib-tab>
      
      <uib-tab-heading>
        <i class="fa fa-code-fork"></i> <span translate>PROTOCOL</span>: {{protocol.title}}
      </uib-tab-heading>

      <div class="row page-content">
        <div class="col-md-2 hidden-xs">
          <ul class="graphs-tree"> 
            <li data-ng-click="selected.index = 0" data-ng-class="{active: selected.index == 0}">
              {{ protocol.processes.title }} 
            </li>
            <li data-ng-repeat="fsm in protocol.finalstatemachines track by $index" data-ng-click="selected.index = $index + 1" data-ng-class="{active: selected.index == $index + 1}">
              {{ fsm.title }}
            </li>
           </ul>
        </div>
        <div class="col-md-10">
          
          <protocol>
            <graph data-ng-show="selected.index == 0" data-graph-data="protocol"></graph>
            <graph data-ng-repeat="fsm in protocol.finalstatemachines track by $index" data-ng-show="selected.index == $index + 1" data-graph-data="fsm"></graph>
          </protocol>
          
        </div>
      </div>

    </uib-tab>
    
    <uib-tab select="analyze(protocol)" active="analysisTabActive">

      <uib-tab-heading>
        <i class="fa fa-sitemap"></i> <span translate>ANALYSIS</span>
      </uib-tab-heading>
      
      <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}
      </alert>
      
      <analysis protocol="protocol" analyze="startAnalyze"></analysis>
      
    </uib-tab>

  </uib-tabset>
  
</section>