.graph-content svg {
  border: 1px solid #ddd;
  border-radius: 4px;
  min-height: calc(100vh - 145px);
  margin-bottom: 10px;
}
.graph-toolbar button {
  margin-bottom: 10px;
}
ul.graphs-tree {
  border: 1px solid #ddd;
  border-radius: 4px;
  list-style-type: none;
  padding: 10px;
}
ul.graphs-tree li {
  padding: 4px 10px;
  border-radius: 4px;
  cursor: pointer;
}
ul.graphs-tree li:hover {
  background-color: #ddd;
}
ul.graphs-tree ul {
  list-style-type: none;
}
