g.node circle {
  cursor: pointer;
}
g.node text {
  pointer-events: none;
}
g.link text {
  cursor: pointer;
}
rect.cell {
  cursor: pointer;
}
g.text-tree-node text {
  pointer-events: none;
}
.overlay {
  pointer-events: all;
}