g.node circle {
  fill: #ddd;
  stroke: #000;
  stroke-width: 1.5px;
  cursor: pointer;
}
g.node text {
  font: 10px sans-serif;
  pointer-events: none;
}
g.link path {
  fill: none;
  stroke: #666;
  stroke-width: 3px;
}
g.link text {
  font-size: 15px;
  fill: #333;
  cursor: pointer;
}
g.node circle.start {
  stroke: #F00;
}

/* TREE GRAPH */
.tree-link {
  fill: none;
  stroke: #000000;
  stroke-width: 3px;
}